body
{
background:#333;
overflow:hidden;
background:#333 url('Background.svg');
background-size:64px 128px;
background-repeat:repeat-x;
background-attachment:fixed;
background-position:left bottom; 
}

/* Sets up the background div so that it's smokey background will wrap around the page */
.background
{
float:left;
position:absolute;
top:64px;
width:100%;
height:50%;
background:url("Smoke.svg");
background-size:25% 100%;
background-repeat:repeat-x;
z-index:-1;
}

/* sets up the appearance of the header */
.header
{
float:left;
position:absolute;
top:0px;
left:0px;
height:64px;
width:100%;
background:#ffffff url("Banner.svg");
opacity:0.9;
background-size: 100% 64px;
border-bottom-style:solid;
border-color:#222;
z-index:100
}

/* Sets up the header content */
.headerContent
{
float:left;
position:absolute;
height:32px;
top:0px;
left:10%;
right:10%
}

/* Modifies the logo inside of the header */
.logo
{
float:left;
position:relative;

top:16px;
width:32px;
height:32px;
background: url("kira.svg");
background-size: 100% 100%;
opacity:2
}

/* sets up the container for jewels */
.jewels
{
float:left;
position:absolute;
width:288px;
height:100%;
right:0px;
margin-right:16px;
}

/* Sets up the learn button on the header */
.build
{
float:right;
position:relative;
margin-right:12px;
top:16px;
width:32px;
height:32px;
background: url("build.svg");
background-size: 100% 100%;
opacity:2
}

/* Sets up the learn button on the header */
.learn
{
float:right;
position:relative;
margin-right:12px;
top:16px;
width:32px;
height:32px;
background: url("learn.svg");
background-size: 100% 100%;
opacity:2
}

/* Sets up the notification button on the header */
.notifications
{
float:right;
position:relative;
margin-right:12px;
top:16px;
width:32px;
height:32px;
background: url("Notifications.svg");
background-size: 100% 100%;
opacity:2
}

/* Sets up the profile button on the header */
.profile
{
float:right;
position:relative;
margin-right:12px;
top:16px;
width:32px;
height:32px;
background: url("profileTab.svg");
background-size: 100% 100%;
opacity:2
}

/* changes how the profile name is displayed */
.profileName
{
float:right;
position:relative;
margin-right:8px;
top:24px;
text-align:left;
font-size:14;
}

/* Sets up the search bar placeholder, in which the search bar will stretch inside of by 100% */
.searchbarPlaceholder
{
float:left;
position:relative;

top:16px;
height:32px;
width:50%;
background:#fff;
border-style:solid;
border-width:0.75px;
border-color:#f33;
border-radius:8px;
margin-left:16px;
}

/* Sets up the search bar for the page */
.searchbar
{
float:left;
position:relative;
width:100%;
height:100%;
border-radius:8px;
}

/* Sets up the website content Div */
.content
{
float:left;
position:absolute;
top:64px;
bottom:24px;
left:96px;
right:96px;
background:#ffffff;
border-bottom-right-radius:16px;
border-style:solid;
border-top-style:none;
border-color:#ff3333;
box-shadow: 0px 0px 5000px #fff;

}

/* Sets up the left side of the content that contains the user's information */
.profInformation
{
float:left;
position:absolute;
left:0px;
top:0px;
bottom:0px;
width:256px;
border-bottom-left-radius:16px;
border-right-style:solid;
border-right-width:2px;
border-right-color:#f55;
background:#ccc
}

/*displays the username above the profile picture */
.profName
{
float:left;
position:relative;
top:0px;
left:0px;
width:100%;
text-align:center;
font-size:24px;
}

/* displays the profile picture within the parent div */
.profPicture
{
float:left;
position:relative;
width:128px;
height:128px;
margin:64px;
margin-top:16px;
background:url("profileTab.svg");
background-size:100% 100%;
z-index:100;
}

/* displays the user's stats under the picture */
.profStats
{
float:left;
position:relative;
width:100%;
height:128px;
}

/* Sets up the appearance for Kiira Points and Achievements */
.kiiraPoints
{
float:left;
position:relative;
top:8px;
left:24px;
width:32px;
height:32px;
background:url("KP.svg");
background-size:100% 100%;
}

.kiiraPointsValue
{
float:left;
position:relative;
width:192px;
left:32px;
top:0px;
}

.kiiraAchievements
{
float:left;
position:absolute;
top:64px;
left:24px;
width:32px;
height:32px;
background:url("KA.svg");
background-size:100% 100%;
}

.kiiraAchievementsValue
{
float:left;
position:relative;
width:192px;
left:64px;
top:0px;
}

/* sets up the footer of the website */
.footer
{
float:left;
position:absolute;
right:0px;
bottom:0px;
width:100%;
height:16px;
background:#777;
border-top-style:solid;
border-top-color:#333;
border-top-width:1px;
}

.footerText
{
float:left;
position:absolute;
top:-7px;
font-size:10px;
text-align:left;
color:#fff
}

/* sets up the chat section of the website */
.chat
{
float:left;
position:absolute;
right:0px;
bottom:16px;
height:24px;
width:224px;
border-top-left-radius:8px;
border-top-right-radius:8px;
text-align:center;
font-size:16px;
color:#fff;
background:#f33;
border-style:solid;
border-width:1px;
border-color:#000;
border-bottom-style:none;
z-index:200;
}
